# Ignore node_modules directory
node_modules/

# Ignore Vercel build output directory (if applicable)
.vercel/

# Ignore Go binary and intermediate build files
bin/
pkg/

# Ignore IDE/project-specific files
.vscode/
.idea/
*.iml
